@font-face {
  font-family: "BankGothic"; src: url("/assets/fonts/BankGothicMedium.ttf");
}

$primary: #7eb62e;
$secondary: #508800;
$white: #fff;
$black: #000;
$gray-light: #eaecef;
$gray-dark: #4b4d50;
$gray-darker: #2f3134;

$breakpoints: (
  xxs: 420px,
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1440px,
  xxl: 1600px,
  nav: 1060px
);

@mixin respond-below($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get(
                    $breakpoints,
                    $breakpoint
    ); // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn "Invalid breakpoint: #{$breakpoint}.";
  }
}


@mixin respond-above($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get(
                    $breakpoints,
                    $breakpoint
    ); // Write the media query.
    @media (min-width: ($breakpoint-value - 1)) {
      @content;
    }
    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn "Invalid breakpoint: #{$breakpoint}.";
  }
}

::-moz-selection { /* Code for Firefox */
  color: $white;
  background: $primary;
}

::selection {
  color: $white;
  background: $primary;
}

.d-flex {
  display: flex !important
}

.btn {
  color: $white !important;
  background: $primary !important;
  text-decoration: none !important;
  padding: 10px 12px;
  font-size: 16px;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  margin-top: 30px;
  display: inline-block;

  @include respond-below(xxs) {
    margin-top: 10px;
    width: 240px !important;
  }

  &:hover,
  &:active,
  &:focus {
    background: $secondary !important;
  }

  &.btn-large {
    font-size: 22px;
  }

  &.btn-gray {
    background: $gray-dark !important;

    &:hover,
    &:active,
    &:focus {
      background:  $gray-darker !important;
    }
  }

}

.no-sidebar {
  .page {
    .content {
      max-width: unset;
    }
  }
}

.hero {
  display: none;
}

.navbar {
  .site-name {
    margin-left: 30px;
    text-transform: uppercase;
    font-family: BankGothic;
    font-weight: 500;
    padding-left: 5px;
    font-size: 24px;
    overflow: unset !important;
    @include respond-below(nav) {
      color: $white !important;
    }

    &::before {
      content: '';
      width: 30px;
      position: absolute;
      margin: auto;
      height: 30px;
      background-color: $white;
      top: 2px;
      left: -30px;
      display: block;
      background-image: url('/assets/images/logo.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .links {
    background-color: unset;
  }
}

#homepage {
  .brand-container {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

    .brand {
      text-decoration: none !important;

      .logo {
        width: 150px;
        @include respond-below(sm) {
          width: 100px;
        }
      }
      .title {
        font-size: 7vw;
        color: $black;
        font-family: BankGothic;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 0px;

        @include respond-below(sm) {
          font-size: 11vw;
        }
      }
      .sub-title {
        margin-top: 0px;
        margin-bottom: 0px;
        color: $black;
        border: none;

        @include respond-below(sm) {
          font-size: 24px;
        }
      }
    }
  }

  .hp-header {
    margin-top: 50px;
    margin-bottom: 50px;

    .hp-title {
      border-bottom: none;
      font-weight: bold;
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 0px;

      @include respond-below(xxs) {
        font-size: 20px;
      }
    }

    .hp-subtitle {
      font-size: 18px;
      text-align: center;
      margin-top: 0px;

      @include respond-below(xxs) {
        font-size: 16px;
      }
    }
  }

  #technologies {
    .tech-list-container {
      width: 100%;
      padding: 10px 15px;
      text-align: center;

      .tech-item {
        display: inline-block;
        margin: 10px;

        img {
          height: 100px;
          @include respond-below(xxs) {
            max-width: 100px;
            height: unset;
          }
        }
      }
    }
  }

  #features {
    .feature-list-row {
      display: flex;

      @include respond-below(sm) {
        display: block;
      }

      .feature-list-item {
        width: 25%;
        padding: 5px;

        @include respond-below(sm) {
          width: 46%;
          display: inline-block;
        }

        @include respond-below(xxs) {
          width: 100%;
        }

        h2 {
          font-size: 18px;
          font-weight: bold;
          border: none;
          margin: auto;
          margin-left: 10px;
        }

        .mdi {
          font-size: 40px;
          margin: 0px;
        }
        
        .feature-description {
          margin-top: 5px;
        }
      }
    }
  }

  #support {
    .donate-section {
      text-align: center;
      margin-bottom: 60px;
    }
  }

  .mb-2 {
    margin-bottom: 10px !important;
  }
}