@font-face {
  font-family: "BankGothic"; src: url("/assets/fonts/BankGothicMedium.ttf");
}

$primary: #7eb62e;
$secondary: #508800;
$menu-color: #23282d;
$menu-color-dark: #191e23;
$menu-color-light: #32373c;
$white: #fff;
$black: #000;
$gray-light: #eaecef;
$gray-dark: $menu-color;
$gray-darker: $menu-color-dark;

// Color configuration
$accentColor: #7eb62e;
$textColor: #2c3e50;
$borderColor: #eaecef;
$codeBgColor: #282c34;

// Layout configuration
$navbarHeight: 3.6rem;
$sidebarWidth: 20rem;
$contentWidth: 740px;
$MQMobile: 719px;

$breakpoints: (
  xxs: 420px,
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1440px,
  xxl: 1600px,
  nav: 850px,
  mobile: $MQMobile
);

@mixin respond-below($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get(
                    $breakpoints,
                    $breakpoint
    ); // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn "Invalid breakpoint: #{$breakpoint}.";
  }
}


@mixin respond-above($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get(
                    $breakpoints,
                    $breakpoint
    ); // Write the media query.
    @media (min-width: ($breakpoint-value - 1)) {
      @content;
    }
    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn "Invalid breakpoint: #{$breakpoint}.";
  }
}

::-moz-selection { /* Code for Firefox */
  color: $white;
  background: $primary;
}

::selection {
  color: $white;
  background: $primary;
}

.d-flex {
  display: flex !important
}

.btn {
  color: $white !important;
  background: $primary !important;
  text-decoration: none !important;
  padding: 6px 8px;
  font-size: 16px;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  margin-top: 30px;
  display: inline-block;
  border-radius: 0px;
  font-weight: bold;

  @include respond-below(xxs) {
    margin-top: 10px;
    width: 240px !important;
  }

  &:hover,
  &:active,
  &:focus {
    background: $secondary !important;
  }

  &.btn-large {
    font-size: 18px;
  }

  &.btn-gray {
    background: $gray-dark !important;

    &:hover,
    &:active,
    &:focus {
      background:  $gray-darker !important;
    }
  }

}

.no-sidebar {
  .page {
    .content {
      max-width: unset;
    }
  }
}

.hero {
  display: none;
}

$navbar-vertical-padding: 0.7rem;
$navbar-horizontal-padding: 1.5rem;

.navbar {
  padding: $navbar-vertical-padding $navbar-horizontal-padding;
  line-height: $navbarHeight - 1.4rem;
  a, span, img {
    display: inline-block;
  }
  .logo {
    height: $navbarHeight - 1.4rem;
    min-width: $navbarHeight - 1.4rem;
    margin-right: 0.8rem;
    vertical-align: top;
  }
  .site-name {
    font-size: 1.3rem;
    font-weight: 600;
    color: $textColor;
    position: relative;
  }
  .links {
    padding-left: 1.5rem;
    box-sizing: border-box;
    background-color: white;
    white-space: nowrap;
    font-size: 0.9rem;
    position: absolute;
    right: $navbar-horizontal-padding;
    top: $navbar-vertical-padding;
    display: flex;

    .nav-link {
      font-size: 14px;
    }
  }
}

.search-box {
  vertical-align: top;
  width: 100%;
  margin: 0 !important;

  div {
    display: block;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    padding-bottom: 1rem !important;
    input {
      width: 100%;
      border-radius: 0 !important;
    }
  }

  .suggestions {
    width: -moz-calc(100% - 2rem) !important;
    width: -webkit-calc(100% - 2rem) !important;
    width: calc(100% - 2rem) !important;
    top: 2rem;
    left: 1rem;
    border-radius: 0 !important;
  }
}

@media (max-width: $MQMobile) {
  .navbar {
    padding-left: 4rem;
    .can-hide {
      display: none;
    }
    .links {
      padding-left: 1.5rem;
    }
    .site-name {
      width: calc(100vw - 9.4rem);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.navbar {
  background-color: $menu-color !important;
  border-bottom: none !important;

  .sidebar-button {
    color: $white;
  }

  .site-name {
    margin-left: 30px;
    text-transform: uppercase;
    font-family: BankGothic;
    font-weight: 500;
    padding-left: 5px;
    font-size: 24px;
    overflow: unset !important;
    font-weight: 500 !important;
    color: $white !important;
    @include respond-below(nav) {
      color: transparent !important;
    }
    @include respond-below(mobile) {
      color: $white !important;
    }

    &::before {
      content: '';
      width: 30px;
      position: absolute;
      margin: auto;
      height: 30px;
      top: 2px;
      left: -30px;
      display: block;
      background-image: url('/assets/images/logo_white.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .links {
    background-color: transparent !important;

    .nav-link {
      color: $white !important;
      padding: 0 !important;

      &.router-link-active {
        color: $primary !important;
      }
    }

    .repo-link {
      color: $white;

      i.mdi {
        font-size: 18px;
      }
    }

    .dropdown-wrapper {
      .dropdown-title {
        color: $white !important;
      }

      .dropdown-item {
        a {
          color: $black !important;
        }
      }
    }
  }
}

.sidebar {
  background-color: $menu-color !important;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  a {
    display: inline-block;
  }

  .nav-links {
    display: none;
    border-bottom: 1px solid $borderColor;
    padding: 0.5rem 0 0.75rem 0;
    a {
      font-weight: 600;
    }
    .nav-item, .repo-link {
      display: block;
      line-height: 1rem;
      font-size: 14px;
      padding: 0.5rem 0 0.5rem 1.5rem;
      .sidebar-links {
        padding: 1.5rem 0;

        a.sidebar-link {
          font-size: 14px;
          line-height: 1rem;
          font-weight: bold;
        }

        li:not(:first-child) {
          margin-top: .75rem;
        }
      }
    }

    .nav-item {
      .nav-link {
        color: $white !important;
        padding: 0 !important;
      }

      .dropdown-title {
        color: $white !important;
      }
    }

    .repo-link {
      color: $white !important;
    }

    @include respond-below(mobile) {
      display: block;

      .dropdown-wrapper .nav-dropdown .dropdown-item a.router-link-active::after {
        top: calc(1rem - 2px);
      }

      .sidebar-links {
        padding: 1rem 0;
      }
    }
  }

  .sidebar-links {
    > li {
      .sidebar-heading {
        color: $white !important;
        font-size: 14px;
        font-weight: normal;
        &.open {
          background-color: $menu-color-dark !important;
          color: $primary !important;
        }
      }

      .sidebar-group-items {
        .sidebar-link {
          color: $white !important;
          font-size: 14px;

          &:hover {
            color: $primary !important;
          }

          &.active {
            color: $primary !important;
          }
        }
      }
    }
  }

  .carbon-ads {
    .carbon-text {
      color: $white !important;
    }
  }
}

#homepage {
  .brand-container {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

    .brand {
      text-decoration: none !important;

      .logo {
        width: 120px;
        @include respond-below(sm) {
          width: 90px;
        }
      }
      .title {
        font-size: 7vw;
        color: $black;
        font-family: BankGothic;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 0px;

        @include respond-below(sm) {
          font-size: 11vw;
        }
      }
      .sub-title {
        margin-top: 0px;
        margin-bottom: 0px;
        color: $black;
        border: none;

        @include respond-below(sm) {
          font-size: 24px;
        }
      }
    }
  }

  .hp-header {
    margin-top: 50px;
    margin-bottom: 50px;

    .hp-title {
      border-bottom: none;
      font-weight: bold;
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 0px;

      @include respond-below(xxs) {
        font-size: 20px;
      }
    }

    .hp-subtitle {
      font-size: 18px;
      text-align: center;
      margin-top: 0px;

      @include respond-below(xxs) {
        font-size: 16px;
      }
    }
  }

  #technologies {
    .tech-list-container {
      width: 100%;
      padding: 10px 15px;
      text-align: center;

      .tech-item {
        display: inline-block;
        margin: 10px;

        img {
          height: 100px;
          @include respond-below(xxs) {
            max-width: 100px;
            height: unset;
          }
        }
      }
    }
  }

  #features {
    .feature-list-row {
      display: block;
      text-align: center;

      .feature-list-item {
        width: 22%;
        padding: 5px;
        text-align: left;
        display: inline-block;
        vertical-align: top;

        @include respond-below(sm) {
          width: 46%;
          display: inline-block;
        }

        @include respond-below(xxs) {
          width: 100%;
        }

        h2 {
          font-size: 18px;
          font-weight: bold;
          border: none;
          margin: auto;
          margin-left: 10px;
        }

        .mdi {
          font-size: 40px;
          margin: 0px;
        }
        
        .feature-description {
          margin-top: 5px;
        }
      }
    }
  }

  #support {
    .donate-section {
      text-align: center;
      margin-bottom: 60px;
    }
  }

  .mb-2 {
    margin-bottom: 10px !important;
  }
}

.footer {
  padding: 0;
  border-top: 1px solid $borderColor;
  text-align: center;
  color: lighten($textColor, 25%);
}