// Color configuration
$accentColor = #7eb62e
$textColor = #000000
$borderColor = #eaecef
$codeBgColor = #282c34

// Layout configuration
$navbarHeight = 3.6rem
$sidebarWidth = 15rem
$contentWidth = unset
