.content {
    padding-left: 15px;
    padding-right: 15px;
}

.algolia-search-box {
    padding-left: 16px !important;
}

.DocSearch-Button {
    border-radius: var(--c-border-radius-default) !important;
    border: none !important;
    height: 30px !important;
    padding: 0 6px !important;
}

.DocSearch-Button:hover,
.DocSearch-Button:active,
.DocSearch-Button:focus {
    background: var(--c-brand) !important;
    color: white !important;
}

.DocSearch-Button-Key:last-child {
    margin-right: 1px !important;
}

.DocSearch-Button:hover .DocSearch-Search-Icon,
.DocSearch-Button:active .DocSearch-Search-Icon,
.DocSearch-Button:focus .DocSearch-Search-Icon {
    color: white !important;
}

.nav-link .isExternal .icon.outbound {
    display: none;
}

.with-sidebar {
    margin-left: 16rem;
}

@media screen and (max-width: 720px) {
    .with-sidebar {
        margin-left: unset;
    }
}

.next-and-prev-link .link {
    font-size: 14px !important;
}

.hp-header {
    margin-bottom: 30px;
}

.hp-header .hp-title {
    margin-top: 0;
    border-bottom: none;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
}

.hp-header .hp-subtitle {
    font-size: 18px;
    text-align: center;
    margin-top: 0;
}
